 {% extends 'employee/employee_base.html' %}
{% load static %}
{% block content %}

 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}
<!-- /navigation -->

<!-- contact -->
<section class="section-lg contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Profile Details</h2>
            </div>
        </div>
        <div class="row contact-bg p-5 rounded mb-5">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label>Name</label>
                    <input type="text" class="form-control mb-3" id="name" name="name"  value="{{employee.user.first_name}}" placeholder="Enter Name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" required>
<!--                    <input type="file" class="form-control mb-3" id="name" name="image" placeholder="">-->
                    <label>Department</label>
                    <input type="text" class="form-control mb-3" value="{{employee.department}}" id="mail" name="email" placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" required>
<!--                    <textarea name="address" id="message" class="form-control mb-3" placeholder="Enter Address"></textarea>-->

<!--                    <input type="date" class="form-control mb-3" id="subject" name="dateofbirth" placeholder="Date Of Birth">-->

<!--                    <select style="width: 100%;-->
<!--  padding: 12px 20px;-->
<!--  margin: 8px 0;-->
<!--  display: inline-block;-->
<!--  border: 1px solid #ccc;-->
<!--  border-radius: 4px;-->
<!--  box-sizing: border-box;" name="designation" id="prisonerNumber">-->
<!--    <option value="">Select Department</option>-->

<!--    <option value="IT/Technology">IT/Technology</option>-->
<!--          <option value="Marketing">Marketing</option>-->
<!--          <option value="Sales">Sales</option>-->




<!--  </select>-->
<!--  <select style="width: 100%;-->
<!--  padding: 12px 20px;-->
<!--  margin: 8px 0;-->
<!--  display: inline-block;-->
<!--  border: 1px solid #ccc;-->
<!--  border-radius: 4px;-->
<!--  box-sizing: border-box;" name="designation" id="prisonerNumber">-->
<!--    <option value="">Select Designation</option>-->

<!--    <option value="Project Manager">Project Manager</option>-->
<!--          <option value="Team Lead">Team Lead</option>-->
<!--          <option value="Technology Analyst">Technology Analyst</option>-->

<!--                <option value="Software Engineer">Software Engineer</option>-->

<!--    <option value="Junior software Engineer">Junior software Engineer-->
<!--          <option value="Junior software Engineer">Manager</option>-->


  <label>Designation</label>
                    <input type="text" class="form-control mb-3"  value="{{employee.designation}}" id="subject" name="password" placeholder="Password" pattern=".{8,}" title="Eight or more characters" required>
                    <label>Address</label>
                    <input type="text" class="form-control mb-3"  value="{{employee.address}}" id="subject" name="password" placeholder="Password" pattern=".{8,}" title="Eight or more characters" required>


<!--                    <button type="submit" class="btn btn-secondary">Register</button>-->
                </form>
            </div>
<!--            <div class="col-lg-5">-->
<!--                <p class="mb-5">If you'll like to know more about our experience designing and delivering cloud solutions, or get advice on your own technology challenges get in touch. With dedicated engineers on-hand 24/7,      we’re set up to become an extension of your team.</p>-->
<!--                <a href="tel:+442081446356" class="text-color h5 d-block">+44 20 8144 6356</a>-->
<!--                <a href="mailto:info@altostack.io" class="mb-5 text-color h5 d-block">info@altostack.io</a>-->
<!--                <p>71 Shelton Street<br>London WC2H 9JQ England</p>-->
<!--            </div>-->
        </div>

<!-- /navigation -->

<!-- contact -->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12 text-center">-->
<!--                <h2 class="section-title">Blockchain</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row contact-bg p-5 rounded mb-5">-->
<!--            <div class="col-lg-7 mb-4 mb-lg-0">-->
<!--                <form action="" method="post" enctype="multipart/form-data">-->
<!--                    {% csrf_token %}-->
<!--                    <label>Blockchain Key</label>-->
<!--                    <input type="text" class="form-control mb-3" value="{{ block.key }}" name="name" placeholder="Enter Name" >-->
<!--&lt;!&ndash;                    <input type="file" class="form-control mb-3" id="name" name="image" placeholder="">&ndash;&gt;-->
<!--&lt;!&ndash;                    <textarea name="address" id="message" class="form-control mb-3" placeholder="Enter Address"></textarea>&ndash;&gt;-->

<!--                    <input type="date" class="form-control mb-3" id="subject" name="dateofbirth" placeholder="Date Of Birth">-->

<!--                    <select style="width: 100%;-->
<!--  padding: 12px 20px;-->
<!--  margin: 8px 0;-->
<!--  display: inline-block;-->
<!--  border: 1px solid #ccc;-->
<!--  border-radius: 4px;-->
<!--  box-sizing: border-box;" name="designation" id="prisonerNumber">-->
<!--    <option value="">Select Department</option>-->

<!--    <option value="IT/Technology">IT/Technology</option>-->
<!--          <option value="Marketing">Marketing</option>-->
<!--          <option value="Sales">Sales</option>-->




<!--  </select>-->
<!--  <select style="width: 100%;-->
<!--  padding: 12px 20px;-->
<!--  margin: 8px 0;-->
<!--  display: inline-block;-->
<!--  border: 1px solid #ccc;-->
<!--  border-radius: 4px;-->
<!--  box-sizing: border-box;" name="designation" id="prisonerNumber">-->
<!--    <option value="">Select Designation</option>-->

<!--    <option value="Project Manager">Project Manager</option>-->
<!--          <option value="Team Lead">Team Lead</option>-->
<!--          <option value="Technology Analyst">Technology Analyst</option>-->

<!--                <option value="Software Engineer">Software Engineer</option>-->

<!--    <option value="Junior software Engineer">Junior software Engineer-->
<!--          <option value="Junior software Engineer">Manager</option>-->




<!--                    <button type="submit" class="btn btn-secondary">Register</button>-->
                </form>
            </div>
<!--            <div class="col-lg-5">-->
<!--                <p class="mb-5">If you'll like to know more about our experience designing and delivering cloud solutions, or get advice on your own technology challenges get in touch. With dedicated engineers on-hand 24/7,      we’re set up to become an extension of your team.</p>-->
<!--                <a href="tel:+442081446356" class="text-color h5 d-block">+44 20 8144 6356</a>-->
<!--                <a href="mailto:info@altostack.io" class="mb-5 text-color h5 d-block">info@altostack.io</a>-->
<!--                <p>71 Shelton Street<br>London WC2H 9JQ England</p>-->
<!--            </div>-->
        </div>
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">-->
<!--                <div class="card p-4 border-blue">-->
<!--                    <h5><i class="ti-layers-alt round-icon blue mr-2"></i> Sales</h5>-->
<!--                    <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">-->
<!--                <div class="card p-4 border-blue">-->
<!--                    <h5><i class="ti-desktop round-icon green mr-2"></i> Help & Support</h5>-->
<!--                    <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">-->
<!--                <div class="card p-4 border-blue">-->
<!--                    <h5><i class="ti-panel round-icon orange mr-2"></i> Legal Departments</h5>-->
<!--                    <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- background shapes -->
        <img class="contact-bg-1 up-down-animation" src="{% static 'images/background-shape/feature-bg-2.png' %}" alt="background-shape">
    <img class="contact-bg-2 left-right-animation" src="{% static 'images/background-shape/green-half-cycle.png' %}" alt="background-shape">
    <img class="contact-bg-3 up-down-animation" src="{% static 'images/background-shape/green-dot.png' %}" alt="background-shape">
    <img class="contact-bg-4 left-right-animation" src="{% static 'images/background-shape/service-half-cycle.png' %}" alt="background-shape">
    <img class="contact-bg-5 up-down-animation" src="{% static 'images/background-shape/feature-bg-2.png' %}" alt="background-shape">
</section>
<!-- /contact -->

<!-- footer -->
{% endblock %}