import random
import string
i=1
while i less than =1:
    rchar1 = f"{chr ( random.randint ( 97, 122 ) )}{chr ( random.randint ( 97, 122 ) )}{chr ( random.randint ( 97, 122 ) )}{chr ( random.randint ( 97, 122 ) )}"
    rchar2 = f"{chr ( random.randint ( 97, 122 ) )}{chr ( random.randint ( 97, 122 ) )}{chr ( random.randint ( 97, 122 ) )}{chr ( random.randint ( 97, 122 ) )}"
    rchar3 = f"{chr ( random.randint ( 97, 122 ) )}{chr ( random.randint ( 97, 122 ) )}{chr ( random.randint ( 97, 122 ) )}{chr ( random.randint ( 97, 122 ) )}"

    print(f"{rchar1}-{rchar2}-{rchar3}")
    i+=1


print("Second Method Begin Here")

def Random_Chars():
    limit = 6  # number of characters in the string.
    # call random.choices() string module to find the string in Uppercase + numeric data.
    ran1 = ''.join ( random.choices ( string.ascii_lowercase , k=limit ) )
    ran2 = ''.join ( random.choices ( string.ascii_uppercase, k=limit ) )
    ran3 = ''.join ( random.choices ( string.ascii_uppercase, k=limit ) )
    print(f"{ran1}-{ran2}-{ran3}")
Random_Chars()